<!DOCTYPE html>
<html lang="en">
<head>

    <title>Matech Quiz App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />

    <!-- Favicon icon -->
    <link rel="icon" href="/content/images/favicon.svg" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="/content/fonts/font-awsome-pro/css/pro.min.css">
    <link rel="stylesheet" href="/content/fonts/feather.css">
    <link rel="stylesheet" href="/content/fonts/fontawesome.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/content/css/style.css">
    <link rel="stylesheet" href="/content/css/customizer.css">


</head>
<body>
<!-- [ auth-signup ] start -->
    @RenderBody()
<!-- [ auth-signup ] end -->

<!-- Required Js -->
<script src="/content/js/plugins/bootstrap.min.js"></script>
</body>

</html>
