
<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/content/images/logo.svg" alt="" class="logo logo-lg">
                <img src="/content/images/logo-sm.svg" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>ADMIN PANEL</label>

                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link "><span class="pc-micon"><i data-feather="home"></i></span><span class="pc-mtext">Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="@Url.Action("Index","Category")">Categories</a></li>
                        <li class="pc-item"><a class="pc-link" href="@Url.Action("Index","Product")">Products</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
